@import 'tailwindcss';
/* @import './common/theme.css'; */

/* 밑 주석은 수동으로 다크모드 적용하는 경우 */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* :root {
  --color-likelion: oklch(0.72 0.11 178);
} */

@theme {
  --building: url(../src/assets/images/building.avif);
  --pretendard: 'Pretendard Variable', Pretendard, sans-serif;
  --color-like: lightgreen;
  --color-lion: red;
  --color-likelion-black: #303033;
  --color-likelion-red: #b02c20;
  --color-likelion-green: #58dc76;

  --autofit: repeat(auto-fit, minmax(240px, 1fr));
}

@layer components {
  .bootcamp {
    background-color: orange;
    padding: 1em;
    margin-block: 1em;
    border: 5px solid blue;
  }

  .like {
    @apply border-4 border-red-500 p-2 my-4 bg-amber-400;
  }
}

/* @layer utilities {
  .shape-circle {
    shape-outside: circle(50%);
  }
} */
@utility shape-circle {
  shape-outside: circle(50%);
}
